{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    {% if message %}
        {% if update %}
            <!-- If update is true, display message like this -->
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <!-- If update is false or not set, display message like this -->
            <!-- Uncomment the below for a Bootstrap alert -->
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endif %}
</div>


{% if not listing.isActive and user == listing.price.user  %}
    <div class="alert alert-danger" role="alert">
        Congrtulations! you won the Auction!
    </div>
{% endif %}
    <div class="row m-3">
        {% if user.is_authenticated and listing.isActive %}
            {% if isOwner%}
            <form action="{% url 'closeAuction' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mx-3">Close Auction</button>
            </form>
            {% endif %}
            {% if islistingInwachlist %}
                <form action="{% url 'removeWachlist' id=listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWachlist' id=listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add To Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <h2> <span style="color: #ffdb59;">{{ ListingName }}:</span> {{ listing }}</h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="400px">
    <p>{{ listing.description }}</p>
    <h5><span style="color: #ffdb59;">Owner: </span> <b>{{ listing.owner }}</b></h5>
    <h5><span style="color: #ffdb59;">price: </span> <b>${{ listing.price.bid }}</b></h5>

    {% if user.is_authenticated %}
    <form action="{% url 'addBid' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Add Bid</label>
            <input type="number" min="0" name="newBid" placeholder="Add new Bid">
            <button class="btn btn-primary">Add Bid</button>
        </div>
    </form>
    {% endif %}
<br/>
        <h2>Comment</h2>
        {% if user.is_authenticated %}
            <form action="{% url 'addComment' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Add comment</label>
                    <input type="text" name="newComment" placeholder="Add new comment">
                    <button class="btn btn-warning">Add comment</button>
                </div>
            </form>
        {% endif %}

<br/>
    <ul>
        {% for comment in allComments %}
            <li class="list-group-item shadow-sm">{{ comment.comment }}
                <br/>
                <p>Posted by <strong>{{ comment.author }}</strong></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}